@{
  Layout = "_Layout";
}
@using BakeryTracker.Models

<h2>Welcome back, Pierre!</h2>

@if (Order.Orders.Count == 0)
{
  <p>You have no orders</p>
}
else
{
  <p>You have @Order.Orders.Count orders</p>
}
