@{
  Layout = "_Layout";
}

@using BakeryTracker.Models

<div class="vendors">
  @if (Vendor.AllVendors.Count == 0)
  {
    <p>You have no vendors currently</p>
  }

  @foreach (Vendor vendor in Vendor.AllVendors)
  {
    <p><a href="/vendors/@vendor.Id" class="btn">@vendor.Name</a> : @vendor.Description</p>
  }
</div>